text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  fill: #454545;
}

.axis.x .tick * {
  display: none;
}

.axis.x .domain,
.axis.y .tick line {
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis.x .domain {
  stroke: #8d9697;
}

.axis.y .tick line {
  stroke: #e3e5e5;
}

.axis.y .domain {
  stroke: none;
}

.line {
  shape-rendering: geometricPrecision;
  cursor: pointer;
}
